

  <input (input)="getValue($event)" placeholder="Enter name to search">
  <br>
  <br>
  <button (click)="getProductByName()">Check Product</button>
  <br>
  <br>
  
<div *ngIf="flag1; else elseBlock1">
    <div *ngIf="flag; else elseBlock">
      <h2>Product Available</h2>
      <table>
        <thead> 
         <tr>
           <th>Index</th>
           <th>Product-id</th>
           <th>Product-name</th>
           <th>Product-price</th>
           <th>Product-Discount</th>
         </tr>
         </thead>
         <tbody>
           <tr *ngFor="let p of temparr; let i=index">
             <td>{{i+1}}</td>
             <td>{{p.pid}}</td>
             <td>{{p.pname}}</td>
             <td>{{p.price}}</td>
             <td>{{p.discount}}</td>
           </tr>
         </tbody>
      </table>
    </div>
    <ng-template #elseBlock>
       <h2>Product Not Available</h2>
    </ng-template>
</div>
<ng-template #elseBlock1></ng-template>


<!-- {{m}} -->